body{
    background-color:rgb(139, 173, 232);
  }
  canvas {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-top: 20px;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#letsgo{
    width: auto;
    cursor: pointer;
    background-color: rgb(22, 63, 186);
    transition: ease;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(231, 232, 234);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(133, 42, 42, 0.7);
    border: none;
}

#letsgo:hover{
    background-color: rgb(198, 206, 206);
    color: rgb(34, 34, 130);
}